<!DOCTYPE html>
<html lang="en">
<%-  include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
    <main class="index">
        <section class="sec-banner">
                <i class="fas fa-arrow-left"></i>
                <img src="/images/pagina/banner.png" alt="banner">
                <i class="fas fa-arrow-right"></i>
        </section>

        <section class="sec-categorys">
                <article class="remeras"><a href="#" ><h4>Remeras</h4></a></article>
                <article class="pantalones"><a href="#"><h4>Pantalones</h4></a></article>
                <article class="abrigos"><a href="#"><h4>Abrigos</h4></a></article>
                <article class="accesorios"><a href="#"><h4>Accesorios</h4></a></article>
        </section>

        <h3>OFERTAS</h3>
        <section class="sec-carrousel">
            <i class="fas fa-arrow-left"></i>
            <% products.forEach(product=> { %>
            <article class="product">
                <% for( let  i = 0; i< product.images.length; i++ ) { %>
                    <img src="/images/product-image/<%= product.images[i].url_name%>"  alt="<%= product.name %>">
                    <% //console.log(product.images[i].url_name) %> 
                <% } %>
                    
                    <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="p-name"><%= product.name %></p>
                            <p class="p-price" style="text-decoration:line-through"> $<%= product.price %></p>
                            <p class="p-descuentos">-<%= product.discounts.name %>% </p>
                            <%let descuento= product.price-((product.price/100)*product.discounts.name) %>
                            <%let conDecimal = descuento.toFixed(2); %>
                            <h3>$<%= conDecimal %> </h3>
                            <a href="products/<%= product.id %> "><button class="ver-btn">VER</button></a>
                        </div>
                    </article>
                    
            <% }) %>
                 
                
            
                <i class="fas fa-arrow-right"></i>
        </section>
        
        <section class="ver-mas">
            <p>Ver más productos</p>
            <button type="submit"><i class="fas fa-arrow-down"></i></button>
        </section>
            
    </main>

    <%- include("../partials/footer") %> 
    
    <script src="/js/scriptjs"></script>
    <!--revisar la ruta-->
</body>
</html>